.container {
    position: absolute;
    margin-top: $pad-sm;
    width: 100%;
    
    & > * {
        width: 100%;
    
        ul {
            @include flex-column($gap: $pad-xxs);

            li button {
                width: 100%;
                font-size: $font-sm;
                font-weight: bold;
                padding: $pad-xs;
                border-radius: $radius-md;
                background: $input-color;
                color: $tertiary-color;
                @include btn;

                &:hover {
                    opacity: .7;
                    text-decoration: underline;
                }
            }
        }
    }
}
