.container {
    height: 100%;
    @include flex-column;

    main {
        margin: auto;
        flex-grow: 1;
        @include flex-column;
        gap: $pad-md;
        padding: $pad-md;
        width: 60%;
        box-sizing: border-box;

        p {
            margin: 0;
            color: $tertiary-color;
            font-size: $font-sm;
        }
    }
}
