@use 'setup/variables' as *;
@forward 'setup/resets';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html,
body {
    font-family: 'Poppins', sans-serif;
    background-color: $backdrop-color;
}

a {
    color: $secundary-color;
}

form {
    @include flex-column($align: center, $gap: $pad-sm);
    fieldset {
        width: 100%;
        color: $label-color;
        @include flex-column;

        label {
            font-size: $font-sm;
        }
        input[type='text'],
        input[type='email'],
        input[type='password'] {
            font-size: $font-sm;
            padding: $pad-xs $pad-sm;
            border-radius: $radius-sm;
            color: black;
            background-color: $input-color;
        }
    }
}
