@use 'sass:color' as *;
@use 'variables.scss' as *;

// Flex-box mixins:

@mixin flex($direction: row, $justify: start, $align: stretch, $gap: 0, $wrap: nowrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
    flex-wrap: $wrap;
}

@mixin flex-row($justify: start, $align: stretch, $gap: 0, $wrap: nowrap) {
    @include flex(row, $justify, $align, $gap, $wrap);
}

@mixin flex-column($justify: start, $align: stretch, $gap: 0, $wrap: nowrap) {
    @include flex(column, $justify, $align, $gap, $wrap);
}

// Contrast
@mixin bg-contrast($color, $lightness-threshold: 50%) {
    background-color: $color;
    @if channel($color, 'lightness', $space: hsl) > $lightness-threshold {
        color: black;
    } @else {
        color: white;
    }
}

// Buttons:
@mixin retangular-btn-shape($pad: $pad-sm $pad-md, $radius: $radius-md, $transition: .4s) {
    padding: $pad;
    border-radius: $radius;
    transition: all $transition;
    cursor: pointer;
}
