.form {
    padding: 0 $pad-lg $pad-md $pad-lg;

    button {
        font-weight: bold;
        width: 100%;
        @include retangular-btn-shape;
        @include bg-contrast($tertiary-color, 70%);
        &:hover { filter: brightness(.8); }
    }

    p {
        color: $label-color;
        &.error-msg {
            font-size: $font-xs;
            color: $negative-color;
        }
    }
}
