@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.form {
    @include flex-column($align: center, $gap: $pad-sm);

    fieldset {
        width: 100%;
        color: $label-color;
        @include flex-column;

        label { font-size: $font-sm; }
        input {
            font-size: $font-sm;
            padding: $pad-xs $pad-sm;
            border-radius: $radius-sm;
            color: black;
            background-color: $input-color;
        }
    }

    button {
        font-weight: bold;
        width: 100%;
        @include retangular-btn-shape;
        @include bg-contrast($secundary-color, 70%);
        &:hover { filter: brightness(.8); }
    }

    p { color: $label-color; }
}
