.container {
    margin-top: $pad-xs;
    position: absolute;
    width: 100%;
}

.dropdown {
    @include box;
    width: 100%;

    ul {
        @include flex-column($gap: $pad-xxs);

        li button {
            width: 100%;
            font-size: $font-sm;
            font-weight: bold;
            padding: $pad-xs;
            border-radius: $radius-md;
            background: $input-color;
            color: $tertiary-color;
            @include btn;

            &:hover {
                opacity: 0.7;
                text-decoration: underline;
            }
        }
    }
}
