.container {
    padding-right: $pad-xxs;
    border-radius: $radius-sm;
    font-size: $font-sm;
    background-color: $input-color;
    color: black;
    @include flex-row($align: center);
    
    &:has(input:focus) {
        outline: 2px solid black;
    }

    input.input {
        flex-grow: 1;
        &:focus {
            outline: none;
        }
    }

    button {
        color: $label-color;
        padding: 0;
        flex: 0 0 auto;
        background-color: transparent;
        width: fit-content;
        aspect-ratio: 1;
        font-size: 1rem;
        @include btn;
        @include flex-center;

        &:hover {
            color: black;
        }
    }

}
