.container {
    border-radius: 50%;
    position: relative;
    width: 2.5rem;
    aspect-ratio: 1;
    font-size: 1.2rem;
    color: $tertiary-color;
    @include flex-center;

    &:hover {
        background-color: #0000001a;
    }

    span {
        border-radius: 50%;
        position: absolute;
        top: 6px;
        right: 5px;
        height: 0.8rem;
        aspect-ratio: 1;
        background-color: $negative-color;
        font-size: $font-xxs;
        color: white;
        @include flex-center;
    }
}
