.container {
    height: fit-content;
    flex: 0 0;
    @include box($pad: $pad-md $pad-sm, $shadow: none);
    @include flex-column(center, center, $gap: $pad-sm);
    width: 16rem;

    & > div {
        width: 100%;
        font-size: $font-md;
        @include flex-column($align: center, $gap: $pad-xs);

        img {
            border: 2px solid $backdrop-color;
            border-radius: $radius-full;
            margin: 0 $pad-lg;
            width: 8rem;
            aspect-ratio: 1;
            object-fit: cover;
        }

        span {
            display: inline-block;
            width: 100%;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    ul {
        width: 100%;
        @include flex-column($gap: $pad-xxs);
        li button {
            padding: $pad-xs $pad-sm;
            border: 1px solid $backdrop-color;
            border-radius: $radius-md;
            width: 100%;
            text-align: left;
            color: $tertiary-color;
            font-size: $font-sm;
            font-weight: bold;
            @include btn;

            &:hover {
                background-color: rgb($backdrop-color, 0.4);
            }

            &.active {
                border-color: $secundary-color;
                color: $secundary-color;
                background-color: rgb($secundary-color, 0.1);
            }
        }
    }
}
