.container {
    height: fit-content;
    @include box($pad: $pad-md $pad-sm, $shadow: none);
    @include flex-column($gap: $pad-sm);

    & > div {
        font-size: $font-md;
        @include flex-column($align: center, $gap: $pad-xs);

        img {
            margin: 0 $pad-lg;
            width: 8rem;
            aspect-ratio: 1;
        }
    }

    ul {
        @include flex-column($gap: $pad-xxs);
        li button {
            padding: $pad-xs $pad-sm;
            border: 1px solid $backdrop-color;
            border-radius: $radius-md;
            width: 100%;
            text-align: left;
            color: $tertiary-color;
            font-size: $font-sm;
            font-weight: bold;
            @include btn;

            &:hover {
                background-color: rgb($backdrop-color, .4);
            }

            &.active {
                border-color: $secundary-color;
                color: $secundary-color;
                background-color: rgb($secundary-color, .1);
            }
        }
    }
}
