@use '../setup/variables' as *;
@use './contrast' as *;
@use './buttons' as *;

@mixin box($pad: $pad-xs $pad-xxs, $radius: $radius-md) {
    padding: $pad;
    border-radius: $radius;
    width: fit-content;
    background-color: $primary-color;
    box-shadow: $shadow-md;
}

@mixin form-box() {
    // position: relative;
    @include box($pad-md $pad-lg);

    h2 {
        text-align: center;
        color: $tertiary-color;
    }

    form {
        min-width: 330px;

        p {
            color: $label-color;
            &.error-msg {
                font-size: $font-xs;
                color: $negative-color;
            }
        }
    }

    button {
        width: 100%;
        font-weight: bold;
        @include retangular-btn-shape;
        @include bg-contrast($tertiary-color, 70%);
        &:hover {
            filter: brightness(0.8);
        }
    }
}
