@use '../setup/variables.scss' as *;

@mixin btn($transition: 0.4s) {
    transition: all $transition;
    cursor: pointer;
}

@mixin retangular-btn-shape($pad: $pad-sm $pad-md, $radius: $radius-md, $transition: 0.4s) {
    @include btn($transition);
    padding: $pad;
    border-radius: $radius;
}
