.container {
    padding: $pad-sm;
    min-width: 68dvw;
    width: 68dvw;
    max-width: 80dvw;
    min-height: 80dvh;
    background-color: $backdrop-color;
    @include flex-row($gap: $pad-sm);
}

.screen {
    flex-grow: 1;
    @include box($pad: $pad-md $pad-sm $pad-sm $pad-lg, $shadow: none);
    @include flex-column($gap: $pad-md);

    header {
        @include flex-row($gap: $pad-sm);
        &:has(h3 + button) {
            justify-content: space-between;
        }

        button {
            padding: $pad-xxs;
            border: 1px solid;
            border-radius: $radius-md;
            color: $secundary-color;
            font-weight: bold;
            @include btn;

            &:hover {
                color: $tertiary-color;
            }
        }
    }

    form {
        padding-right: $pad-md;
    }

    & > button {
        margin: auto 0 0 auto;
        background-color: $tertiary-color;
        color: white;
        flex-shrink: 0;
        font-size: $font-sm;
        @include retangular-btn-shape($pad-sm, $radius-lg);
        @include flex-row($gap: $pad-xxs);

        &:hover {
            opacity: 0.7;
        }
    }
}
